
<div class="hero">
    <app-nav-bar></app-nav-bar>
    <div class="hero-wrapper">
        <div class="content"  data-aos="fade-in">
            <h1>
                Together We 
                <div id=flip>
                  <div><div>Create</div></div>
                  <div><div>Build</div></div>
                  <div><div>Grow</div></div>
                </div>
              </h1>
            <p class="para">
                We're a <strong>Moroccan</strong> digital agency who team up with startups, agencies and founders to build, scale, and maintain digital products and websites.
            </p>
            <p class="link">
                <a href="request-form" class="btn">
                    Request a service
                </a>
            </p>
        </div>
        <app-work-slider></app-work-slider>
    </div>
</div>