<div class="whatwedo">
        <div class="left">
            <div class="leftcontent" >
                <h3 id="whatWeDo" data-aos="zoom-out">
                    How Can We Help Your Business ?
                </h3>
                <p data-aos="zoom-out">
                    We <span>design</span>, 
                    <span>build</span>, <span>maintain</span>,
                     and <span>market</span> web apps for brands who want to
                    break barriers and <span>accelerate growth.</span>
                </p>
                <a href="request-form" data-aos="zoom-in" class="btn">Request a service</a>
            </div>
        </div>
        <div class="right">
            <div class="line" data-aos="fade-up">
                <div class="service webdev" data-aos="fade-up">
                    <div class="imgwrapper">
                        <img src="/assets/webdev.png" alt="webdev">
                    </div>
                    <h4>Coding & Web Development</h4>
                    <p>Transform your ideas into stunning digital realities with our expert coding and web development services.
                    </p>
                </div>
                <div class="service seo">
                    <div class="imgwrapper" id="whatwedo" data-aos="fade-down">
                        <img src="/assets/unicorn.png" alt="seo">
                    </div>
                    <h4>Search Engine Optimization</h4>
                    <p>Boost your online presence and drive traffic to your website with our comprehensive SEO services.
                    </p>
                </div>
            </div>
            <div class="line" data-aos="fade-up">
                <div class="service secu" data-aos="fade-up">
                    <div class="imgwrapper">
                        <img src="/assets/sec.png" alt="security">
                    </div>
                    <h4>Software Maintenance & Security</h4>
                    <p>Ensure your software is running smoothly and securely with our reliable software maintenance and security services.
                    </p>
                </div>
                <div class="service smma" data-aos="fade-down">
                    <div class="imgwrapper">
                        <img src="/assets/money.png" alt="smma">
                    </div>
                    <h4>eMarketing & PPC Ads</h4>
                    <p>Maximize your online reach and drive conversions with our expert eMarketing and PPC advertising services.
                    </p>
                </div>
            </div>
        </div>
</div>

