<div class="login-wrapper">
    <app-nav-bar></app-nav-bar>
    <div class="login-container">
        <div class="left">
            <h2>Hey, Hello 
                <img src="/assets/hand.png" alt="waving">
                <br />
                Sign In to CHABIBA 
            </h2>
            <img src="/assets/startup.png" class="startup" alt="#">
        </div>
        <div class="right">
            <p>Enter the information entered while registering <br/>
                or the information provided by the agency.</p>
            <app-login-form></app-login-form>
        </div>
    </div>
</div>