
    <div class="csel" data-aos="zoom-in-left" data-aos-delay="300">
        <owl-carousel-o [options]="customOptions"> 
            <ng-template carouselSlide><div class="item">
                <div class="img">
                    <div class="image">
                      <img src="https://osumstudio.com/images/slide-ooliv.jpg" alt="slide">
                    </div>
                </div>
                <div class="caption">
                  <h4 class="mb-1 mt-4">Ooliv Website</h4>
                  <p class="mb-0">Web agency website</p>
                </div>
              </div></ng-template>  
            <ng-template carouselSlide><div class="item">
                <div class="img">
                    <div class="image">
                      <img src="https://osumstudio.com/images/slide-bose.jpg" alt="slide">
                    </div>
                </div>
                <div class="caption">
                  <h4 class="mb-1 mt-4">Bose App</h4>
                  <p class="mb-0">News publishing mobile app</p>
                </div>
              </div></ng-template>  
            <ng-template carouselSlide>
                <div class="item">
                    <div class="img">
                        <div class="image">
                          <img src="https://osumstudio.com/images/slide-comiida.jpg" alt="slide">
                        </div>
                    </div>
                    <div class="caption">
                      <h4 class="mb-1 mt-4">Comiida App</h4>
                      <p class="mb-0">Multi restaurant mobile app</p>
                    </div>
                  </div>
            </ng-template>  
            <ng-template carouselSlide><div class="item">
                <div class="img">
                    <div class="image">
                      <img src="https://osumstudio.com/images/slide-setu.jpg" alt="slide">
                    </div>
                </div>
                <div class="caption">
                  <h4 class="mb-1 mt-4">Setu Marketplace</h4>
                  <p class="mb-0">Digital products marketplace portal</p>
                </div>
              </div></ng-template>  
            <ng-template carouselSlide><div class="item">
                <div class="img">
                    <div class="image">
                      <img src="https://osumstudio.com/images/slide-axotil.jpg" alt="slide">
                    </div>
                </div>
                <div class="caption">
                  <h4 class="mb-1 mt-4">Axotil App</h4>
                  <p class="mb-0">Employee management portal</p>
                </div>
              </div></ng-template>  
          </owl-carousel-o>
</div>