<div class="navbar-wrapper">
    <div class="logo">
        <a [routerLink]="'/'">
            <img src="/assets/logo.svg"/>
        </a>
    </div>
    <div class="menu">
        <ul>
            <li>
                <a href="/" class="active">Home</a>
            </li>
            <li>
                <a href="#whatwedo">What We Do</a>
            </li>
            <li>
                <a href="#testimonials">Testimonials</a>
            </li>
            <li>
                <a href="#ourTeam">Our Team</a>
            </li>
        </ul>
    </div>
    <div class="actions">
        <ul>
            <li>
                <a href="/login">
                    Login
                </a>
            </li>
            <li>
                <a href="/request-form" class="make-request">
                    Request a service 
                </a>
            </li>
        </ul>
    </div>
</div>