<div class="testimonials-wrapper">
  <h3 id="testimonials"  data-aos="fade-up">Our clients love the digital experiences that we deliver</h3>

<div class="csel"  data-aos="zoom-in">
  <owl-carousel-o [options]="customOptions"> 
      <ng-template carouselSlide>
        <div class="item">
          <div class="left">
              <div class="logo">
                <img src="/assets/testimonials/designbdles.svg" alt="slide">
              </div>
          </div>
          <div class="right">
            <h4 class="name">Andy Croft</h4>
            <p class="occupation">CO-FOUNDER</p>
            <p class="content">Wonderful team to work with, they are incredibly skilled, dedicated and work exactly to deadlines. All communication was very clear and the aims were laid out and they went above and beyond. Was a real pleasure working with the guys and I look forward to working with them again in the future!</p>
            <p></p>
          </div>
        </div>
      </ng-template>  
      <ng-template carouselSlide>
        <div class="item">
          <div class="left">
              <div class="logo">
                <img src="/assets/testimonials/tp.svg" alt="slide">
              </div>
          </div>
          <div class="right">
            <h4 class="name">Mollie McGrath</h4>
            <p class="occupation">DIGITAL CONTENT EXECUTIVE</p>
            <p class="content">CHABIBA are a brilliant agency to work with. They took the time to understand our requirements and worked very quickly to ensure we could deliver this project on time. The whole execution was great from the designs to supplying the HTML & CSS. The Travis Perkins team were really impressed once it was live.</p>
            <p></p>
          </div>
        </div>
      </ng-template>  
      <ng-template carouselSlide>
        <div class="item">
          <div class="left">
              <div class="logo">
                <img src="/assets/testimonials/tax.svg" alt="slide">
              </div>
          </div>
          <div class="right">
            <h4 class="name">Sarah Johnson</h4>
            <p class="occupation">Small business owner</p>
            <p class="content">The eMarketing and PPC advertising services from CHABIBA helped me grow my business exponentially. I saw a significant increase in website traffic and conversions, and the team was always available to answer my questions and provide guidance. I highly recommend their services!</p>
            <p></p>
          </div>
        </div>
      </ng-template>  
      <ng-template carouselSlide>
        <div class="item">
          <div class="left">
              <div class="logo">
                <img src="/assets/testimonials/gp.svg" alt="slide">
              </div>
          </div>
          <div class="right">
            <h4 class="name">John Smith</h4>
            <p class="occupation">IT Manager</p>
            <p class="content">We've been using the software maintenance and security services from CHABIBA for several years, and we're extremely happy with the results. Their team is knowledgeable and proactive in identifying and resolving issues before they become major problems. Our software runs smoothly and securely, thanks to their expertise.</p>
            <p></p>
          </div>
        </div>
      </ng-template>  
      <ng-template carouselSlide>
        <div class="item">
          <div class="left">
              <div class="logo">
                <img src="/assets/testimonials/fingo.svg" alt="slide">
              </div>
          </div>
          <div class="right">
            <h4 class="name">Jane Doe</h4>
            <p class="occupation">Marketing Manager</p>
            <p class="content">The SEO services from CHABIBA have helped us rank higher in search results and attract more qualified leads. Their team took the time to understand our business and industry, and their strategies are tailored to our specific needs. I highly recommend their services to anyone looking to improve their online visibility</p>
            <p></p>
          </div>
        </div>
      </ng-template>  
      <ng-template carouselSlide>
        <div class="item">
          <div class="left">
              <div class="logo">
                <img src="/assets/testimonials/truck.svg" alt="slide">
              </div>
          </div>
          <div class="right">
            <h4 class="name">Alex Rodriguez</h4>
            <p class="occupation">Startup Founder</p>
            <p class="content">I was impressed with the productivity tools and software solutions from CHABIBA. They helped us streamline our operations and stay organized, which was critical for our fast-paced startup. Their team is responsive and easy to work with, and their solutions are user-friendly and effective. I highly recommend their services to any business looking to improve their productivity.</p>
            <p></p>
          </div>
        </div>
      </ng-template>  

    </owl-carousel-o>
</div>
</div>